.flex {
    display: flex;
    justify-content: space-between; /* Distributes items evenly across the main axis */
}
.grow {
    flex-grow: 1;
}
.no-grow {
    flex-grow: 0;
}

.gap-1{
    gap: 1px;
}

.gap-5{
    gap: 5px;
}

.gap-10{
    gap: 10px;
}

.dialog-list-item {
    border-radius: 5px;
    color: #fff;
}

.dialog-list-item:hover {
    background-color: rgba(255,255,255,0.1);
}

.dialog-list-item-selected {
    color: #fff;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.1);
}
